{% macro store_item(p, card_type) -%}
    {% set url = url_for('shop.product', id=p.id[5:]) %}
    <a href="{{ url }}" class="card" draggable="false">
        {% set image = p.images[0] if p.images else p.metadata.image %}
        <div class="card--img {{card_type}}" style="background-image:url({{image}})" alt="{{ p.name }}" title="{{ p.name }}" ></div>
        <div class="card--title">{{ p.name }}</div>
        <div class="card--desc">
          {{ (p.description or p.caption or p.metadata.caption)|safe }}
        </div>
        {% if p.default_price %}
          <div class="card--price">{{'${:,.2f}'.format(p.default_price.unit_amount/100)}}</div>
        {% else %}
          <div class="card--price">Sold Out</div>
        {% endif %}
    </a>
{%- endmacro %}

{% macro render_field_with_errors(field, hint, label=True) %}
  <div class="form-field">
    {% if field.type != 'BooleanField' %}
        {% if label %} {{ field.label }} {% endif %} {{ field(**kwargs)|safe }}
    {% else %}
        {{ field(**kwargs)|safe }}
        {% if label %}{{ field.label }}{% endif %}
    {% endif %}
    {% if field.errors %}
      <ul class="errors">
      {% for error in field.errors %}
        <li class="error">{{ error|safe }}</li>
      {% endfor %}
      </ul>
    {% endif %}
    {% if hint %}
        <div class="form-field-hint muted">{{ hint }}</div>
    {% endif %}
  </div>
{% endmacro %}

{% macro render_field(field) %}
  {{ field(**kwargs)|safe }}
{% endmacro %}
