{% macro store_item(p) -%}
    <div class="store-item">
        {% set url = url_for('shop.product', id=p.id[5:]) if p.type == 'good' else url_for('shop.plan', id=p.id[5:]) %}
        <div class="store-item--image">
            <a href="{{ url }}">
                {% set image = p.images[0] if p.images else p.metadata.image %}
                <img src="{{ image }}" alt="{{ p.name }}" title="{{ p.name }}" style="transform:rotate({{range(-6, 0)|random}}deg);" />
            </a>
        </div>
        <div class="store-item--body">
            <h1><a href="{{ url }}">{{ p.name }}</a></h1>
            <p>{{ p.caption or p.metadata.caption }}</p>
        </div>
    </div>
{%- endmacro %}

{% macro render_field_with_errors(field, hint, label=True) %}
  <div class="form-field">
    {% if field.type != 'BooleanField' %}
        {% if label %} {{ field.label }} {% endif %} {{ field(**kwargs)|safe }}
    {% else %}
        {{ field(**kwargs)|safe }}
        {% if label %}{{ field.label }}{% endif %}
    {% endif %}
    {% if field.errors %}
      <ul class="errors">
      {% for error in field.errors %}
        <li class="error">{{ error|safe }}</li>
      {% endfor %}
      </ul>
    {% endif %}
    {% if hint %}
        <div class="form-field-hint muted">{{ hint }}</div>
    {% endif %}
  </div>
{% endmacro %}

{% macro render_field(field) %}
  {{ field(**kwargs)|safe }}
{% endmacro %}
