{% extends 'layout.html' %}

{% block content %}
{% if product.id.endswith(config.SUBSCRIPTION_PLAN_ID) %}
    <div class="stamp-header">
        <div class="stamp">
            <div>Subscribe</div>
            <div>Subscribe</div>
        </div>
    </div>
{% endif %}
<div class="product">
    <div class="product--gallery">
        <figure>
            <img src="{{ product.metadata.image }}" />
        </figure>
    </div>
    <div class="product--info">
        <h1>{{ product.name }}</h1>
        <p>{{ product.metadata.description|safe }}</p>
        <div class="product--skus">
            {% for plan in plans %}
                <div class="product--sku">
                    <form action='{{ url_for('shop.subscribe') }}' method='POST'>
                        <input type='hidden' name='id' value={{ plan.id }}>
                        <input type='hidden' name='name' value='{{ product.name }} - {{ plan.nickname }}'>
                        <input type='hidden' name='price' value='{{ '${:,.2f}'.format(plan.amount/100) }}/{{ plan.interval }}'>
                        <div class="sku">
                            <div>
                                <div class="sku--name">{{ plan.nickname }}</div>
                                <div class="sku--price">{{ '${:,.2f}'.format(plan.amount/100) }}/{{ plan.interval }}</div>
                            </div>
                            <input type="submit" value='Subscribe'>
                        </div>
                    </form>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% if product.id.endswith(config.SUBSCRIPTION_PLAN_ID) %}
<div id="faq">
    <h1>FAQ</h1>
    <ul>
        <li><h2>How can I change my address or billing info?</h2></li>
        <li><h2>When can I expect to receive my copy in the mail?</h2></li>
    </ul>
</div>
{% endif %}
{% endblock %}

