{% from "shop/_macros.html" import store_item %}
{% extends 'layout.html' %}

{% block content %}
<style>
    html {
        background-color: #D285F5;
    }
    body {
        background: none;
    }
</style>
<div class="product">
    <div class="product--gallery">
        {% set img = product.images[0] %}
        <figure>
            <img src="{{ img }}" />
        </figure>
    </div>
    <div class="product--info">
      <div class="product--description">
        <h1>{{ product.name }}</h1>
        <p>{{ product.description|safe }}</p>

        <div class="product--skus">
            {% if skus|length == 0 and prices|length == 0 %}
                <div>Not currently available.</div>
            {% endif %}

            <div class="product--sku">
                <form action='{{ url_for('shop.cart') }}' method='POST'>
                    {{form.hidden_tag()}}
                    <div class="sku">
                        <div>
                            <div class="sku--price">{{ '${:,.2f}'.format(product.default_price.unit_amount/100) }}</div>
                        </div>
                        <input type="submit" value='Add to Cart'>
                    </div>
                </form>
            </div>
        </div>
      </div>
      <div class="product--additional">
        <h2>You might Also like...</h2>
        <div id="product--purchase">
          {% for p in also %}
            {{ store_item(p, 'card-a') }}
          {% endfor %}
        </div>
      </div>
    </div>
</div>
{% endblock %}
