{% macro post_item(post) -%}
<div class="post-item">
    <div class="post-item--image">
        <img src="{{ post.image.path }}" style="transform:rotate({{range(-6, 0)|random}}deg);" />
    </div>
    <div class="post-item--body">
        <h1><a href="{{ url_for('pinko.post', issue=post.issue.slug, slug=post.slug) }}">{{ post.title }}</a></h1>
        <div class="post-item--meta">
            <span>{{ post.published_at.strftime('%B %-d, %Y') }}</span> &bull;
            <span>Issue {{ post.issue.id }}</span> &bull;
            <span>{{ post.issue.name }}</span>
        </div>
        <div class="post-item--authors">by {{ post.authors|join(', ', 'name') }}</div>
    </div>
</div>
{%- endmacro %}

{% macro issue_item(name, url, color) -%}
    <div class="issue-item">
        <a href="{{ url }}">
            <div class="issue-item--cover" style="background:{{color}};">
                <h1>{{ name }}</h1>
            </div>
        </a>
    </div>
{%- endmacro %}
