{% extends 'layout.html' %}

{% block content %}
<style>
    html, body {
        background-color: #FF99F4;
    }
</style>
<div id="about">
    <div id="manifesto">
        <p><a href="{{ url_for('static', filename='pinko.pdf') }}">Like the world which it served to bind together, heterosexuality is in crisis.</a> This is not for the first time, but it may be the last. This crisis is not a passing “sex panic,” but represents a more fundamental rupture. In the grim shadow of biosphere collapse and climate fascism, who could believe heterosexuality’s promises of eternity? No one can agree any longer on what this world is for.</p>

        <p>The sexual or gender freedom we currently possess is nothing but the freedom to reproduce the current social order. The family and the workplace have undergone a profound transformation in the past 50 years, but the horizons which sexual liberationists were pursuing are now in some ways our ground. What we need most now is the courage to imagine new freedoms.</p>

        <p>These freedoms will be discovered in the course of struggle. We don’t presume to dictate them in advance. But part of the work of that struggle will be the creation of new language and new concepts with which to grasp capitalist sexual and gender relations, and an audience of readers to use them. A magazine is a crucial tool in this regard. <a href="{{ url_for("pinko.subscribe") }}">Join us.</a></p>
    </div>
    <div id="masthead">
        <div>
            <p>Pinko is a collective for thinking gay communism together. We publish a biannual print issue, periodic zines, and host irregular essays, translations and archival material on our website.</p>
            <p>We don’t quite have the capacity to go through open submissions, but if you’d like to get in touch with us, please email <em>commie@pinko.online</em>.</p>
            <p>If you have questions about subscriptions or billing, please email <em>subs@pinko.online</em>.</p>
            <p>If you’d like to carry copies of Pinko in your bookstore, infoshop or library, or you want to make a donation, proposition or complaint, please email <em>admin@pinko.online</em>.</p>
        </div>
        <div>
            <h2>Pinko Collective</h2>
            <ul>
                <li>JB Brager</li>
                <li>Lou Cornum</li>
                <li>Max Fox</li>
                <li>Jasmine Gibson</li>
                <li>Rami Karim</li>
                <li>ME O’Brien</li>
                <li>Tiana Reid</li>
                <li>Virgil B/G Taylor</li>
                <li>Addison Vawters</li>
                <li>Francis Tseng</li>
            </ul>

            <hr />

            <p>This work is licensed under a Creative Commons Attribution-NonCommercial 4.0 International License</p>

            <ul>
                <li>ISSN 2689-3142 (Print)</li>
                <li>ISSN 2689-3150 (Online)</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
