{% from "_macros.html" import post_item %}
{% extends 'layout.html' %}

{% block content %}
<div class="most-recent-issue">
    {% for post in issue.published_posts[:3] %}
        <div class="most-recent-issue--post">
            <div class="most-recent-issue--post-item">
                <h1>{{ post.title }}</h1>
                <p>{{ post.desc }}</p>
                <div class="post-item--authors">by {{ post.authors|join(', ', 'name') }}</div>
            </div>
        </div>
    {% endfor %}
</div>
<div class="most-recent-posts">
    <div class="stamp-header">
        <div class="stamp">
            <div>Archive</div>
            <div>Archive</div>
        </div>
    </div>
    <div class="most-recent-posts--posts">
        {% for post in posts %}
            {{ post_item(post) }}
        {% endfor %}
    </div>
    <div class="most-recent-posts--archive">
        <a href="{{ url_for('pinko.archive') }}">View Pinko Archive...</a>
    </div>
</div>
{% endblock %}
