{% from "_macros.html" import post_item %}
{% extends 'layout.html' %}

{% block content %}
<img id="squiggle" src="{{ url_for('static', filename='squiggle.svg') }}" />
<div id="home">
    <a href="{{ url_for('pinko.about') }}">
        <div class="stamp">
            <div>Pinko</div>
            <div>Pinko</div>
        </div>
    </a>
    <a href="{{ url_for('shop.index') }}" id="home--subscribe">
        <div class="stamp">
            <div>Store</div>
            <div>Store</div>
        </div>
    </a>
    <a href="{{ url_for('pinko.issues') }}" id="home--issues">
        <div class="stamp">
            <div>In Print</div>
            <div>In Print</div>
        </div>
    </a>
    <a href="{{ url_for('pinko.archive') }}" id="home--archive">
        <div class="stamp">
            <div>Magazine</div>
            <div>Magazine</div>
        </div>
    </a>
</div>
{% endblock %}
