{% block content %}
  <style>
    #intro_background {
      position: fixed;
      width: 236.172vw;
      height: 199.663vh;
      left: -53vw;
      top: -77vh;
    }
    #pinko_text {
      animation: 5s linear 0s fadeInPinko;
      position: fixed;
      top: 28vh;
      left: 35vw;
      width: 30vw;
    }
    #enter {
      animation: 5s linear 0s fadeInEnter;
      position: fixed;
      top: 70vh;
      left: 45vw;
      font-family: Alverata-Bold;
      font-size: 3.90625vw;
      letter-spacing: 0em;
      color: white;
      text-decoration: none;
    }
    @keyframes fadeInPinko {
      0% {
        opacity: 0;
        width:21vw;
        left: 39.5vw;
      }
      40%{
        opacity: 0;
        width:21vw;
        left: 39.5vw;
      }
      100% {
        width: 30vw;
        left: 35vw;
        opacity: 1;
      }
    }

    @keyframes fadeInEnter {
      0% {
        color: black;
        font-size:2.5vw;
        left: 46.6vw;
      }
      40%{
        color: black;
        font-size:2.5vw;
        left: 46.6vw;
      }
      100% {
        color: white;
        font-size: 3.90625vw;
        left: 45vw;
      }
    }
  </style>

  <img id='intro_background' src="{{ url_for('static', filename='intro.gif') }}">
  <img id='pinko_text' src="{{ url_for('static', filename='pinko_intro.svg') }}">
  <a href="{{ url_for('pinko.index') }}" id='enter'>enter</a>

{% endblock %}
