{% from "_macros.html" import issue_item %}
{% extends 'layout.html' %}

{% block content %}
<div class="issues">
{% for issue in issues|reverse %}
    <div class="issue-with-caption">
        {{ issue_item(issue.name, url_for('pinko.issue', slug=issue.slug), issue.color, issue.cover_url) }}
        <p>{{ issue.caption }}</p>
    </div>
{% endfor %}
{% for zine in zines|reverse %}
    <div class="issue-with-caption">
        {{ issue_item(zine.name, url_for('shop.product', id=zine.id[5:]), '#aaaaaa', zine.images[0]) }}
        <p>{{ zine.name }}</p>
    </div>
{% endfor %}
</div>
{% endblock %}



