{% from "_macros.html" import issue_item %}
{% extends 'layout.html' %}

{% block content %}
<div class="stamp-header" style="display:flex">
    <div id="writing--tabs">
      <a href="/in-print" style="text-decoration: underline">In Print</a>
      <a href="/magazine">Online</a>
    </div>
    <div class="stamp" style="margin:auto">
        <div>WRITING</div>
    </div>
    <div style="width:30%"></div>
</div>

<div id="writing--grid">
{% for issue in issues|reverse %}
        {{ issue_item(issue.name, url_for('pinko.issue', slug=issue.slug), issue.color, issue.cover_url) }}
{% endfor %}
{% for zine in zines|reverse %}
        {{ issue_item(zine.name, url_for('shop.product', id=zine.id[5:]), '#aaaaaa', zine.images[0]) }}
{% endfor %}
</div>
{% endblock %}
