{% extends 'layout.html' %}

{% block content %}
<div id="legal">
    <h2>Terms of Service</h2>
    <p>For purchasing a subscription at any level of support, you will receive two print issues per year (as political conditions allow). You can purchase back issues separately in the web store. If you need to change or cancel your subscription, you may do so using the portal. If there are any issues with your order we will work to rectify them and if not we will issue a refund.</p>

    <h2>Privacy policy</h2>
    <p>We will not store any data on our servers beyond your email if you’ve signed up for our newsletter. Credit card information is encrypted and held on the payment processor (Stripe)’s servers. We don’t collect any cookies or identifying information from visitors to this site. We log IP addresses for debugging purposes but they are only kept temporarily.</p>
</div>
{% endblock %}