{% extends 'layout.html' %}

{% block content %}
<style>
    html, body {
        background-color: #FF99F4;
    }
</style>
<div id="manifesto">
    <p>Like the world which it served to bind together, heterosexuality is in crisis. This is not for the first time, but it may be the last. This crisis is not a passing “sex panic,” but represents a more fundamental rupture. In the grim shadow of biosphere collapse and climate fascism, who could believe heterosexuality’s promises of eternity? No one can agree any longer on what this world is for.</p>

    <p>The sexual or gender freedom we currently possess is nothing but the freedom to reproduce the current social order. The family and the workplace have undergone a profound transformation in the past 50 years, but the horizons which sexual liberationists were pursuing are now in some ways our ground. What we need most now is the courage to imagine new freedoms.</p>

    <p>These freedoms will be discovered in the course of struggle. We don’t presume to dictate them in advance. But part of the work of that struggle will be the creation of new language and new concepts with which to grasp capitalist sexual and gender relations, and an audience of readers to use them. A magazine is a crucial tool in this regard. <a href="{{ url_for("pinko.subscribe") }}">Join us.</a></p>
</div>
{% endblock %}
