{% extends 'layout.html' %}

{% block meta %}
  <meta property="og:site_name" content="pinko">
  <meta property="og:type" content="article">
  <meta property="og:title" content="{{ post.title }}">
  <meta property="og:url" content="{{ request.url }} ">
  <meta property="og:image" content="{{ post.image.url }}" />
  <meta property="og:description" content="{{ post.desc }}">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@pinkomagazine">
  <meta name="twitter:title" content="{{ post.title }}">
  <meta name="twitter:image" content="{{ post.image.url }}" />
  <meta name="twitter:image:alt" content="{{ post.title }}">
  <meta name="twitter:description" content="{{ post.desc }}">
  <meta name="twitter:creator" content="@pinkomagazine">
{% endblock %}


{% block content %}
<style>
html, body {
    background-color: {{ post.issue.background_color }}
}
</style>
<article>
    <img src="{{ post.image.path }}" style="transform:rotate({{range(-6, 0)|random}}deg);" />
    <header>
        {% if not post.event %}
            <div class="post--issue-meta">{{ post.published_at.strftime('%B %-d, %Y') }} &bull; {{ post.issue.name }}</div>
        {% endif %}
        <h1>{{ post.title }}</h1>
        <div class="post--meta">
            {% if post.event %}
                <h2>{{ post.event }}</h2>
            {% else %}
                <h2>{{ post.subtitle }}</h2>
                {% set byline = post.authors|join(', ', 'name') %}
                {% if byline != 'Pinko' %}
                    <h3>by {{ post.authors|join(', ', 'name') }}</h3>
                {% endif %}
            {% endif %}
        </div>
    </header>
    <div>
        {{ post.html|safe }}
    </div>
</article>
{% endblock %}

